torch==2.1.1
torchvision==0.16.1
diffusers==0.30.1
transformers==4.37.0
huggingface-hub==0.24.6
spaces
numpy==1.24.4
accelerate==0.26.1
safetensors
omegaconf==2.3.0
peft==0.7.1
gradio
insightface==0.7.3
pydantic>=1.9,<2
einops
onnxruntime
cog
hf_transfer==0.1.8